@keyframes hero-stand-by {
  from {
    background-image: url('assets/adventurer/standby-left.png');
  }
  to {
    background-image: url('assets/adventurer/standby-right.png');
  }
}

@keyframes hero-stand-by-sword {
  from {
    background-image: url('assets/adventurer/standby-left-sword.png');
  }
  to {
    background-image: url('assets/adventurer/standby-right-sword.png');
  }
}

@keyframes bat {
  0% {
    background: url('assets/monsters/bat-1.png') no-repeat center;
  }
  25% {
    background: url('assets/monsters/bat-2.png') no-repeat center;
  }
  50% {
    background: url('assets/monsters/bat-3.png') no-repeat center;
  }
  75% {
    background: url('assets/monsters/bat-4.png') no-repeat center;
  }
  100% {
    background: url('assets/monsters/bat-5.png') no-repeat center;
  }
}

@keyframes minotaur {
  0% {
    background: url('assets/monsters/minotaur-1.png') no-repeat center;
  }
  25% {
    background: url('assets/monsters/minotaur-2.png') no-repeat center;
  }
  50% {
    background: url('assets/monsters/minotaur-3.png') no-repeat center;
  }
  75% {
    background: url('assets/monsters/minotaur-4.png') no-repeat center;
  }
  100% {
    background: url('assets/monsters/minotaur-5.png') no-repeat center;
  }
}

.sprite {
  width: 64px;
  height: 64px;
}

#adventurer {
  background-image: url('assets/adventurer/standby-left.png');
  background-repeat: no-repeat;
  background-position: center;
  animation-name: hero-stand-by;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  position: absolute;
  z-index: 999;
}

.bat {
  animation-name: bat;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.health-potion {
  background: url('assets/items/health-potion.png') no-repeat center;
}

.chest-closed {
  background: url('assets/items/chest-closed.png') no-repeat bottom center;
}

.chest-open {
  background: url('assets/items/chest-open.png') no-repeat bottom center;
}

#minotaur {
  animation-name: minotaur;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

.hp-bar {
  margin-top: -3px;
  width: 40px;
  height: 8px;
  position: absolute;
  margin-left: 12px;
  color: white;
  font-size: 8px;
  font-weight: bolder;
  text-align: center;
  border: 1px solid rgba(255, 108, 108, 0.5);
}

.speech-bubble {
  position: absolute;
  background: #ffffff;
  border-radius: .4em;
  color: black;
  padding: 10px;
  max-width: 200px;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: #ffffff;
  border-left: 0;
  border-bottom: 0;
  margin-top: -10px;
  margin-left: -20px;
}